# build/darwin
# build/windows
# build/AppDir
# build/deb
# build/pkg
# build/rpm

# node_modules
# node_modules/
# frontend/dist
# frontend/dist/

# dev

*.zip
.DS_Store
logs
*.log
tmp/
npm-debug.log*

frontend/src/ui/design files