# build output

build/darwin
build/windows
*.zip
.DS_Store

# development and dependencies

node_modules
node_modules/
frontend/dist
frontend/dist/
build/*.sh
build/ait.AppImage

# Logs

logs
*.log
tmp/
npm-debug.log*
