# build output

build/darwin
build/windows
build/AppDir
build/deb
*.zip
.DS_Store

# development and dependencies

node_modules
node_modules/
frontend/dist
frontend/dist/

# the build.sh scripts are intended to be used assuming
# the current working directory is "git-userChrome" (project directory)
# COMMENT OUT BELOW WHEN PUSHING TO MAIN

# build/*.sh
# build/ait.AppImage
# todo other scripts

# Logs

logs
*.log
tmp/
npm-debug.log*
