/* page 1 //////////////////////////////////////////////////////////////////////// */

/* baseline always assumes a 1:1 container viewpoint */
/* .main .content * { border: 1px red solid } */

.main .content .nav-setup {
    /* display: contents; */
    display: inline;
    user-select: none;
    -webkit-user-select: none;
    .page-header {
        min-height: 110px;
    }
    .page-container {
        min-height: 400px;
        overflow-y: auto;
        justify-content: center;
    }
    .page-footer {
        min-height: 100px;
        justify-content: center;
        align-items: center;
    }
    .page-header, .page-container, .page-footer {
        align-content: center;
        padding: 0px 40px;
    }
}

.main .content .nav-setup {
    .conf {
        display: flex;
        padding: 10px;
        margin-inline: auto;
        min-width: 450px;
        max-width:1000px;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    /* .conf .q {
        max-width: 300px;
        margin-right: auto;
    } */
    .conf .select {
        min-width: 300px;
        height: 35px;
        transition: width 0.5s ease, min-width 0.5s ease;
    }
    .submit-wrapper {
        display: flex;
        padding: 10px;
        margin-inline: auto;
        min-width: 450px;
        max-width:1000px;
        height: 50px;
        align-items: center;
        justify-content: right;
    }
    .notify-git {
        margin-right: 15px;
        display: none;
    }
    .notify-theme {
        margin-right: 15px;
        display: none;
    }
    .submit-git-btn {
        align-content: center;
        width: fit-content;
        height: 36px;
        padding: 5px 20px;
    }
}

:root:has(#git_is:not(:checked)) .notify-git {
    display: flex;
}
:root:has(select option[value="placeholder"]:checked) .notify-theme {
    display: flex;
}


#gitis .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red !important;
  -webkit-transition: .4s;
  transition: .4s;
}
#git_is {
    pointer-events: none !important;
}
#git_is:not(:checked) + .slider {
    cursor: progress;
    background-color: rgb(189, 104, 104) !important;
}