/* page 4 settings //////////////////////////////////////////////////////////////// */

/* baseline always assumes a 1:1 container viewpoint */
/* .main .content * { border: 1px red solid } */

.main .content .nav-settings {
    /* display: contents; */
    display: inline;
    .page-header {
        min-height: 100px;
    }
    .page-container {
        min-height: 400px;
        overflow-y: auto;
        justify-content: center;
    }
    .page-footer {
        min-height: 100px;
        justify-content: center;
        align-items: center;
    }
    .page-header, .page-container, .page-footer {
        align-content: center;
        padding: 0px 40px;
    }
}

.main .content .nav-settings {
    .conf {
        display: flex;
        padding: 10px;
        margin-inline: auto;
        min-width: 450px;
        max-width:1200px;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    .conf .q {
        max-width: 300px;
        margin-right: auto;
    }
    .conf .select {
        min-width: 475px;
        height: 35px;
        margin-left: 5px;
        transition: width 0.5s ease, min-width 0.5s ease;
    }
    .conf input {
        min-width: 435px;
        height: 35px;
        transition: width 0.5s ease, min-width 0.5s ease;
        margin-left: 5px;
    }
    #fsFBinary, #fsFdBinary, #fsFnBinary,
    #fsLBinary, #fsZBinary, #fsFloorpBinary, #fsProfile {
        min-width: 35px;
        height: 35px;
        padding: 0 0.7em;
        margin-left: 5px;
        border-radius: calc(var(--btn-border-radius) - 10px);
        &:hover { background-color: color-mix(in srgb, var(--btn-bgc) 80%, rgb(25,25,25)); }
        & .icon {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: var(--app-font-size);
            height: var(--app-font-size);            
        }
    }
    .conf #selectTheme {
        min-width: 395px;
        height: 35px;
        padding: 0.5em;
    }
    .conf #addTheme, .conf #removeTheme {
        width: 35px;
        height: 35px;
        margin-left: 5px;
        padding: 0;
        border-radius: calc(var(--btn-border-radius) - 10px);
        &:hover { background-color: color-mix(in srgb, var(--btn-bgc) 80%, rgb(25,25,25)); }
        & .trashicon {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            margin-left:7px; margin-top:2px;
            filter: sepia(100%) saturate(500%) hue-rotate(300deg);
        }
    }
    .conf #openConf, .conf #resetConf,
    .conf #openProfiles, .conf #deleteConf {
        min-width: 235px;
        height: 35px;
        margin-left: 5px;
        border-radius: calc(var(--btn-border-radius) - 10px);
        transition: width 0.5s ease, min-width 0.5s ease;
        box-shadow: var(--btn-box-shadow);
        &:hover { background-color: color-mix(in srgb, var(--btn-bgc) 80%, rgb(25,25,25)); }
        &:active { border: var(--btn-outline-color); }
    }
    .icon {opacity: 0.5;}
    .save-wrapper {
        display: flex;
        padding: 10px;
        margin-inline: auto;
        min-width: 450px;
        max-width:1200px;
        height: 50px;
        align-items: center;
        justify-content: right;
    }
    #saveSettingsBtn {
        align-content: center;
        width: fit-content;
        height: 36px;
        padding: 5px 20px;
    }
}