@media (prefers-color-scheme: dark) {
    :root:has(body[color-scheme="system"]) {
        --app-bgc: rgb(43, 42, 51);
        --app-fgc: white;
        --scheme-filter: brightness(0) saturate(100%) invert(100%);
        --btn-bgc: rgba(35, 35, 42, 0.3);
        --btn-selected-bgc: color-mix(in srgb, var(--btn-bgc) 80%, transparent);
        --btn-box-shadow: 0.15rem 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.35);
        --btn-outline-color: 1px solid color-mix(in srgb, white 7%, transparent);
        --app-icon: url("../../ui/logo/ultima.dark.png");
        --setup-icon: url("../../ui/icon/setup.svg");
        --fcss-icon: url("../../ui/logo/fcs.png");
        --git-icon: url("../../ui/logo/github.png");
        --settings-icon: url("../../ui/icon/settings.svg");
        --cs-icon: url("../../ui/icon/cs.png");
        --f-icon: url("../../ui/logo/firefox.png");
        --fde-icon: url("../../ui/logo/firefoxd.png");
        --fn-icon: url("../../ui/logo/firefoxn.png");
        --libre-icon: url("../../ui/logo/librewolf.png");
        --zen-icon: url("../../ui/logo/zen.png");
        --floorp-icon: url("../../ui/logo/floorp.png");
        --profile-icon: url("../../ui/icon/profile.svg");
        --filesearch-icon: url("../../ui/icon/folder.svg");
        --back-icon: url("../../ui/icon/arrowleft.png");
        --forward-icon: url("../../ui/icon/arrowright.png");
        --copy-icon: url("../../ui/icon/copy.svg");
        --openlink-icon: url("../../ui/icon/openlink.svg");
        --trash-icon: url("../../ui/icon/trash.svg");
        --status-icon: url("../../ui/icon/loading2.gif");
    }
}

@media (prefers-color-scheme: light) {
    :root:has(body[color-scheme="system"]) {
        --app-bgc: rgb(250, 250, 255);
        --app-fgc: rgb(25,25,25);
        --scheme-filter: brightness(0) saturate(100%);
        --btn-bgc: rgb(232, 232, 236);
        --btn-selected-bgc: color-mix(in srgb, var(--btn-bgc) 80%, transparent);
        --btn-box-shadow: 0.1rem 0.3rem 0.4rem -0.1rem rgba(75,75,75,0.3);
        --app-icon: url("../../ui/logo/ultima.light.png");
        --setup-icon: url("../../ui/icon/setup.svg");
        --fcss-icon: url("../../ui/logo/fcs.png");
        --git-icon: url("../../ui/logo/github.png");
        --settings-icon: url("../../ui/icon/settings.svg");
        --cs-icon: url("../../ui/icon/cs.png");
        --f-icon: url("../../ui/logo/firefox.png");
        --fde-icon: url("../../ui/logo/firefoxd.png");
        --fn-icon: url("../../ui/logo/firefoxn.png");
        --libre-icon: url("../../ui/logo/librewolf.png");
        --zen-icon: url("../../ui/logo/zen.png");
        --floorp-icon: url("../../ui/logo/floorp.png");
        --profile-icon: url("../../ui/icon/profile.svg");
        --filesearch-icon: url("../../ui/icon/folder.svg");
        --back-icon: url("../../ui/icon/arrowleft.png");
        --forward-icon: url("../../ui/icon/arrowright.png");
        --copy-icon: url("../../ui/icon/copy.svg");
        --openlink-icon: url("../../ui/icon/openlink.svg");
        --trash-icon: url("../../ui/icon/trash.svg");
        --status-icon: url("../../ui/icon/loading2.gif");
    }
}